---
# You don't need to edit this file, it's empty on purpose.
# Edit theme's home layout instead if you wanna make some changes
# See: https://jekyllrb.com/docs/themes/#overriding-theme-defaults
layout: default
---
<div data-controller="time">
    <div data-target="time.current"></div>
   <h1><div data-target="time.what"></div><h1>
</div>
